<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727811242144-gl2hsn115vbqii1mmodc4c4n1viir0bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727811242144-gl2hsn115vbqii1mmodc4c4n1viir0bo</string>
	<key>API_KEY</key>
	<string>AIzaSyDDoUMsGzUxSmgPBVZJ4Eeo0kIiS_QzJhk</string>
	<key>GCM_SENDER_ID</key>
	<string>727811242144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SCC.SCCdecor</string>
	<key>PROJECT_ID</key>
	<string>sccdecor-420ea</string>
	<key>STORAGE_BUCKET</key>
	<string>sccdecor-420ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727811242144:ios:246dd7c55fbc224cb3b1c5</string>
	<key>DATABASE_URL</key>
	<string>https://sccdecor-420ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>